<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image Classification</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />

    <!--==Link Swiper's CSS====-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <!--==Using-Font-Awesome-for-Icons=========-->
    <script
      src="https://kit.fontawesome.com/6bd6c771de.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="#home" class="brand">
        <img
          src="{{ url_for('static', filename='image/Logo.png') }}"
          class="meat-trace-icon"
        />
      </a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#application">Application</a>
          <a href="#team">Our Team</a>
        </div>
      </div>
    </header>

    <section class="home" id="home">
      <video
        class="video-slide active"
        src="{{ url_for('static', filename='video/pexels-tom-fisk-2766950-3840x2160-30fps.mp4') }}"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video-slide"
        src="{{ url_for('static', filename='video/pexels-laura-varela-11498698-1920x1080-30fps.mp4') }}"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video-slide"
        src="{{ url_for('static', filename='video/pexels-los-muertos-crew-10039910-1920x1080-24fps.mp4') }}"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video-slide"
        src="{{ url_for('static', filename='video/pexels-phillip-dillow-5755333-3840x2160-24fps.mp4') }}"
        autoplay
        muted
        loop
      ></video>

      <div class="content">
        <h1>Meatify</h1>
        <p>
          Meatify merupakan singkatan dari Meat Indentify adalah sebuah platform
          yang bertujuan untuk membantu Anda dalam deteksi jenis daging dengan
          menggunakan teknologi klasifikasi gambar. Kami memahami pentingnya
          mengetahui dengan pasti jenis daging yang dikonsumsi, terutama jika
          Anda memiliki preferensi diet, alergi, atau keyakinan agama tertentu.
        </p>
        <a href="#about">Read More</a>
      </div>
      <div class="slider-navigation">
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
      </div>
    </section>

    <section class="about" id="about" style="background-color: black">
      <div class="content-about">
        <h3>About</h3>
        <div class="text-image-container">
          <div class="conten-container">
            <h1>Beef</h1>
            <br />
            <p>Ciri-ciri daging sapi:</p>
            <ul>
              <li>
                Warna merah tua: Ini disebabkan oleh adanya pigmen mioglobin
                yang memberikan warna merah pada daging tersebut
              </li>
              <li>
                Lemak kaku dan berbentuk: Lemak pada daging sapi cenderung
                berbentuk padat dan terdistribusi dengan baik di dalam
                serat-serat otot.
              </li>
              <li>
                Tekstur padat dan solid: Daging sapi memiliki tekstur yang padat
                dan solid. Ketika disentuh, daging sapi terasa kenyal dan tidak
                mudah hancur.
              </li>
              <li>
                Serat padat dan kasar: Serat-serat ini memberikan kekuatan dan
                kepadatan pada daging sapi, sehingga memberikan tekstur yang
                kenyal dan renyah saat dikonsumsi.
              </li>
            </ul>
          </div>
          <img
            src="{{ url_for('static', filename='image/Salinan dari Warna Merah Tua Segar (5).png') }}"
            alt="Babi"
            class="babi-image"
          />
        </div>
        <div class="text-image-container reverse">
          <div class="conten-container">
            <h1>Pork</h1>
            <br />
            <p>Ciri-ciri daging babi:</p>
            <ul>
              <li>
                Warna merah pucat: Daging babi umumnya memiliki warna merah
                pucat atau merah muda. Perbedaan warna ini disebabkan oleh
                kandungan mioglobin yang lebih rendah dibandingkan dengan daging
                sapi.
              </li>
              <li>
                Lemak elastis: Lemak pada daging babi cenderung elastis atau
                kenyal karena adanya lemak tak jenuh yang disebut asam oleat.
              </li>
              <li>
                Tekstur lembek dan mudah diregangkan: Hal ini terjadi karena
                daging babi memiliki tingkat keasaman dan kandungan air yang
                tinggi.
              </li>
              <li>
                Serat terlihat samar: Serat-serat pada daging babi terlihat
                samar atau tidak sejelas pada daging sapi karena ukuran serat
                pada daging babi lebih kecil dan lebih rapat.
              </li>
            </ul>
          </div>
          <img
            src="{{ url_for('static', filename='image/Salinan dari Salinan dari Warna Merah Tua Segar (2).png') }}"
            alt="Sapi"
            class="sapi-image"
          />
        </div>
        <div>
          <p style="text-align: left">
            <a
              href="https://halalmui.org/kenali-perbedaan-daging-sapi-dan-daging-babi/"
              class="custom-link"
              target="_blank"
              >*Sumber: halalmui.org</a
            >
          </p>
        </div>
      </div>
    </section>

    <section
      class="container"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ url_for('static', filename='image/bg-application.jpg') }}');"
      id="application"
    >
      <h3 class="application-title">Application</h3>
      <div class="container-content">
        <form
          class="form-horizontal"
          action="/submit"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <div class="col-sm-10">
              <div
                class="upload-container"
                ondragover="handleDragOver(event)"
                ondrop="handleDrop(event)"
              >
                <div class="upload-content">
                  <i class="fas fa-cloud-upload-alt upload-icon"></i>
                  <p class="upload-text">Drag and drop your image here</p>
                  <p class="upload-text">or</p>
                  <input
                    type="file"
                    class="form-control custom-file-input"
                    placeholder="Hours Studied"
                    name="my_image"
                    id="upload-input"
                    onchange="handleFileSelect(event)"
                  />
                  <label
                    id="custom-file-label"
                    for="upload-input"
                    class="custom-file-label"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
        <div class="popup-overlay" id="popup-overlay">
          <div class="popup-content">
            <div class="loading-spinner"></div>
            <div class="image-container">
              <img
                src="{{ url_for('static', filename='image/cloud-computing.png') }}"
                class="uploaded-image"
                id="uploaded-image"
              />
            </div>
            <h2 class="prediction-text" id="prediction-text"></h2>
            <h3 class="accuracy-text" id="accuracy-text"></h3>
            <button
              type="button"
              class="btn btn-success"
              onclick="closePopup()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="team" style="background-color: black">
      <div class="team-heading">
        <h3 class="our-team-tittle">Our Team</h3>
      </div>
      <!--**slider*****************-->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!--==1==================-->
          <div class="swiper-slide">
            <!--slider-box-->
            <div class="team-slider-box">
              <!--==Img==================-->
              <div class="t-s-img">
                <img
                  src="{{ url_for('static', filename='image/t-1.png') }}"
                  alt="team"
                />
              </div>
              <!--==Text=================-->
              <div class="t-s-text">
                <strong>Akhiril Anwar Harahap</strong>
                <span>Modelling</span>
                <div class="team-social">
                  <li style="--i: 1">
                    <a
                      href="https://www.instagram.com/itsmevirgous/?igshid=ZGUzMzM3NWJiOQ%3D%3D"
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li style="--i: 2">
                    <a
                      href="https://www.linkedin.com/in/akhiril-anwar-harahap-8432851b9/"
                    >
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li style="--i: 3">
                    <a href="https://github.com/akhirilanwarharahap">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!--==2==================-->
          <div class="swiper-slide">
            <!--slider-box-->
            <div class="team-slider-box">
              <!--==Img==================-->
              <div class="t-s-img">
                <img
                  src="{{ url_for('static', filename='image/t-2.png') }}"
                  alt="team"
                />
              </div>
              <!--==Text=================-->
              <div class="t-s-text">
                <strong>Bayu Delvika</strong>
                <span>Deployment</span>
                <div class="team-social">
                  <li style="--i: 1">
                    <a
                      href="https://www.instagram.com/bayu_delvika12/?next=%2F"
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li style="--i: 2">
                    <a href="#">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li style="--i: 3">
                    <a href="https://github.com/bayu20012312">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!--==3==================-->
          <div class="swiper-slide">
            <!--slider-box-->
            <div class="team-slider-box">
              <!--==Img==================-->
              <div class="t-s-img">
                <img
                  src="{{ url_for('static', filename='image/t-3.png') }}"
                  alt="team"
                />
              </div>
              <!--==Text=================-->
              <div class="t-s-text">
                <strong>Kurnyadi Dwi Putra</strong>
                <span>Researcher</span>
                <div class="team-social">
                  <li style="--i: 1">
                    <a
                      href="https://instagram.com/kurnyadi15?igshid=NTc4MTIwNjQ2YQ=="
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li style="--i: 2">
                    <a
                      href="http://www.linkedin.com/in/kurnyadi-dwi-putra-teknik-elektro-217b59275"
                    >
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li style="--i: 3">
                    <a href="https://github.com/kurnyadi">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!--==4==================-->
          <div class="swiper-slide">
            <!--slider-box-->
            <div class="team-slider-box">
              <!--==Img==================-->
              <div class="t-s-img">
                <img
                  src="{{ url_for('static', filename='image/t-4.png') }}"
                  alt="team"
                />
              </div>
              <!--==Text=================-->
              <div class="t-s-text">
                <strong>Putri Ardina</strong>
                <span>Documentation</span>
                <div class="team-social">
                  <li style="--i: 1">
                    <a href="https://www.instagram.com/ardinaa_putri/">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li style="--i: 2">
                    <a
                      href="https://www.linkedin.com/in/putri-ardina-9602bb276/"
                    >
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li style="--i: 3">
                    <a href="https://github.com/PutriArdina">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!--==5==================-->
          <div class="swiper-slide">
            <!--slider-box-->
            <div class="team-slider-box">
              <!--==Img==================-->
              <div class="t-s-img">
                <img
                  src="{{ url_for('static', filename='image/t-.png') }}"
                  alt="team"
                />
              </div>
              <!--==Text=================-->
              <div class="t-s-text">
                <strong>Tita Alisya</strong>
                <span>Data Acquisition</span>
                <div class="team-social">
                  <li style="--i: 1">
                    <a
                      href="https://instagram.com/titaasya_?igshid=NTc4MTIwNjQ2YQ=="
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li style="--i: 2">
                    <a href="https://www.linkedin.com/in/tita-alisya-b9ab8021a">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li style="--i: 3">
                    <a href="https://github.com/titaasya">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#00000"
          fill-opacity="1"
          d="M0,160L30,181.3C60,203,120,245,180,240C240,235,300,181,360,144C420,107,480,85,540,112C600,139,660,213,720,240C780,267,840,245,900,234.7C960,224,1020,224,1080,229.3C1140,235,1200,245,1260,229.3C1320,213,1380,171,1410,149.3L1440,128L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"
        ></path>
      </svg>
      <div class="footer-section">
        <h3>Support By:</h3>
        <div class="logo-container">
          <a href="https://www.uin-suska.ac.id/" target="_blank"
            ><img
              src="{{ url_for('static', filename='image/Logo UIN Suska Riau Original.png') }}"
              alt="UIN SUKA RIAU"
          /></a>
          <a href="https://orbitfutureacademy.id/id/" target="_blank"
            ><img
              src="{{ url_for('static', filename='image/orbit.png') }}"
              alt="ORBIT"
          /></a>
        </div>
      </div>
    </footer>

    <script>
      document
        .getElementById("upload-input")
        .addEventListener("change", function () {
          var fileName = this.value.split("\\").pop();
          var label = document.getElementById("custom-file-label");
          label.innerText = fileName;
        });
      document
        .getElementById("upload-input")
        .addEventListener("change", function () {
          var reader = new FileReader();
          reader.onload = function (e) {
            var img = document.getElementById("uploaded-image");
            img.src = e.target.result;
          };
          reader.readAsDataURL(this.files[0]);
        });

      document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault();
        var popupOverlay = document.getElementById("popup-overlay");
        var predictionText = document.getElementById("prediction-text");
        var accuracyText = document.getElementById("accuracy-text");
        var uploadedImage = document.getElementById("uploaded-image");
        var fileInput = document.getElementById("upload-input");
        var loadingSpinner = document.querySelector(".loading-spinner"); // Ganti dengan selector class ".loading-spinner"

        uploadedImage.src = "";
        predictionText.innerHTML = "";
        accuracyText.innerHTML = "";
        popupOverlay.classList.add("active");
        loadingSpinner.style.display = "block"; // Tampilkan animasi loading

        var formData = new FormData();
        formData.append("my_image", fileInput.files[0]);

        // Send AJAX request to app.py
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/predict", true);
        xhr.onload = function () {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var prediction = response.prediction;
            var accuracy = response.accuracy;

            predictionText.innerHTML = "Prediction: " + prediction;
            var accuracyPercentage = (accuracy * 100).toFixed(2) + "%";
            accuracyText.innerHTML = "Accuracy: " + accuracyPercentage;

            uploadedImage.src = URL.createObjectURL(fileInput.files[0]); // Set the uploaded image source
          } else {
            predictionText.innerHTML = "Error occurred.";
          }
          loadingSpinner.style.display = "none"; // Sembunyikan animasi loading
        };
        xhr.send(formData);
      });

      function closePopup() {
        var popupOverlay = document.getElementById("popup-overlay");
        popupOverlay.classList.remove("active");
      }

      function handleDragOver(event) {
        event.preventDefault();
        event.dataTransfer.dropEffect = "copy";
        document.querySelector(".upload-container").classList.add("dragging"); // Menambahkan kelas CSS 'dragging' pada elemen upload-container
        document.querySelector(".upload-icon").classList.add("dragging"); // Menambahkan kelas CSS 'dragging' pada elemen upload-icon
      }

      function handleDrop(event) {
        event.preventDefault();
        const files = event.dataTransfer.files;
        if (files.length > 0) {
          const file = files[0];
          document.getElementById("upload-input").files = files;
          document.getElementById("custom-file-label").innerText = file.name; // Menetapkan nama file pada label
          handleFileSelect(event);
        }
        document
          .querySelector(".upload-container")
          .classList.remove("dragging"); // Menghapus kelas CSS 'dragging' dari elemen upload-container
        document.querySelector(".upload-icon").classList.remove("dragging"); // Menghapus kelas CSS 'dragging' dari elemen upload-icon
      }

      function handleFileSelect(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("uploaded-image").src = e.target.result;
        };
        reader.readAsDataURL(file);
      }

      function closePopup() {
        var popupOverlay = document.getElementById("popup-overlay");
        popupOverlay.classList.remove("active");

        reset(); // Panggil fungsi reset
      }

      function reset() {
        var predictionText = document.getElementById("prediction-text");
        var uploadedImage = document.getElementById("uploaded-image");
        var fileInput = document.getElementById("upload-input");
        var label = document.getElementById("custom-file-label");

        fileInput.value = ""; // Menghapus file yang diunggah
        label.innerText = "Choose file"; // Mengatur ulang label menjadi teks default
        uploadedImage.src = ""; // Menghapus tampilan gambar yang diunggah
        predictionText.innerHTML = ""; // Menghapus teks prediksi

        // Hapus kelas "dragging" dari elemen terkait
        var uploadContainer = document.querySelector(".upload-container");
        var uploadIcon = document.querySelector(".upload-icon");
        uploadContainer.classList.remove("dragging");
        uploadIcon.classList.remove("dragging");
      }
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 20,
          stretch: -20,
          depth: 120,
          modifier: 3,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>
    <script type="text/javascript">
      //Javascript of responsive  navigation menu
      const menuBtn = document.querySelector(".menu-btn");
      const navigation = document.querySelector(".navigation");

      menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("active");
        navigation.classList.toggle("active");
      });

      //Javascript for video slider navigation
      const btns = document.querySelectorAll(".nav-btn");
      const slides = document.querySelectorAll(".video-slide");

      var sliderNav = function (manual) {
        btns.forEach((btn) => {
          btn.classList.remove("active");
        });

        slides.forEach((slide) => {
          slide.classList.remove("active");
        });

        btns[manual].classList.add("active");
        slides[manual].classList.add("active");
      };

      btns.forEach((btn, i) => {
        btn.addEventListener("click", () => {
          sliderNav(i);
        });
      });

      //Javascript slide otomatis
      const slide = document.querySelectorAll(".video-slide");
      const navBtns = document.querySelectorAll(".nav-btn");
      let currentSlide = 0;
      const slideInterval = 5000; // Interval waktu antara perpindahan slide (dalam milidetik)

      // Fungsi untuk mengatur slide berikutnya
      function nextSlide() {
        slides[currentSlide].classList.remove("active");
        navBtns[currentSlide].classList.remove("active");

        currentSlide = (currentSlide + 1) % slides.length;

        slides[currentSlide].classList.add("active");
        navBtns[currentSlide].classList.add("active");
      }

      // Mulai perpindahan slide otomatis
      setInterval(nextSlide, slideInterval);

      //upload gambar
      const dropZone = document.getElementById("dropZone");
      const browseBtn = document.getElementById("browseBtn");
      const fileInput = document.getElementById("image-upload");

      dropZone.addEventListener("dragover", (e) => {
        e.preventDefault();
        dropZone.classList.add("dragover");
      });

      dropZone.addEventListener("dragleave", () => {
        dropZone.classList.remove("dragover");
      });

      dropZone.addEventListener("drop", (e) => {
        e.preventDefault();
        dropZone.classList.remove("dragover");
        const files = e.dataTransfer.files;
        if (files.length > 0) {
          fileInput.files = files;
        }
      });

      browseBtn.addEventListener("click", () => {
        fileInput.click();
      });

      fileInput.addEventListener("change", () => {
        if (fileInput.files.length > 0) {
          console.log(fileInput.files[0]);
        }
      });
    </script>
  </body>
</html>
